<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <style>
    [v-cloak] {
      display: none
    }
    :checked + span {
      color: #ccc;
      text-decoration: line-through;
    }
  </style>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <main id="app" class="container">
    <div class="row justify-content-center">
      <div class="col col-md-6">
        <h1 class="display-4 my-5">To Do List </h1>
        <form @submit.prevent="addItem">
          <input type="text" class="form-control py-3" placeholder="Create a new todo..."
              v-model="item">
        </form>

        <ul class="list-group mt-3">
          <li class="list-group-item d-flex justify-content-between align-items-center"
              v-for="(item, index) in items">
            <div class="flex-fill " @click="checkItem(index)">
              <input  type="checkbox"
                      class="form-check-input me-2"  
                      value=""
                      :checked="item.complete">
              <span>{{ item.title }}</span>
            </div>
            
            <button class="btn text-black-50"
                @click="removeItem(index)">
              <i class="fas fa-times"></i>
            </button>
          </li>
          <li class="list-group-item d-flex align-items-center py-3">
            <span class="text-black-50">Remaining items: {{ remaining }}</span>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <script src="app.js"></script>
</body>
</html>